.Actions{
	cursor: pointer;
	font-size: 25px;
}
.Actions span{
	display: inline-block;
	margin: 0 10px;
	width: 40px;
	height: 40px;
	color: #6f001b;
	line-height: 40px;
	text-align: center;
	background: white;
	border:solid #282C34 1px;
	border-radius: 50%;
}

