.Actions{
	cursor: pointer;
	font-size: 25px;
}
.Actions span{
	display: inline-block;
	margin: 0 10px;
	width: 40px;
	height: 40px;
	color: #6f001b;
	line-height: 40px;
	text-align: center;
	background: white;
	border:solid #282C34 1px;
	border-radius: 50%;
}

.Button{
	background-color: #3366CC;
	border-radius: 28px;
	border: 0;
	box-shadow: 0px 1px 1px #d9d9d9;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	padding: 5px 15px;
	text-decoration: none;
	transition-duration: 0.1s;
	transition-property: transform;
}

.Button:hover{
	transform: scale(1.1);
}
.Dialog{
	width: 400px;
	margin-bottom: 20px;
	border-bottom: solid  1px #999999;
}

.DialogHeader{
	font-size: 30px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #6f001b;
	padding: 10px 20px;
}

.DialogBody{
	padding: 10px;
	border-bottom: 1px solid #cccccc;
}


.DialogFooter{
	padding: 10px 25px;
	background-color: #cccccc;
}

.Logo{
	background-image: url(images/react-logo.svg);
	background-size: cover;
	display:inline-block ;
	height: 50px;
	vertical-align: middle;
	width: 50px;
}
.Rating{
	cursor: pointer;
	font-size: 30px;
	position: relative;
}

.Rating>span{
	display: inline-block;
	position: relative;
}

.bottom-star{
	display: inline-block;
	position: relative;
}

/*absolute初始位置为它在普通流中本来的位置，所以这里需要设置left为0，让其靠左*/
.top-star{
	display: none;
	position: absolute;
	color: #FFFF00;
	left: 0;
}

.RatingON .top-star{
	display: inline-block;
}
.Suggest{

}

html{
	background: white;
	font: 16px arial;
}
